.web__general {
    background: var(--color-secondary);
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
}
.web__general__title {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.divider__border__light {
    margin: 0.5rem 0;
    width: 40px;
    height: 3px;
    background: var(--color-primary);
}
.web__spitch {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
/**/
.web__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 1rem;
}
.web__bubble {
    background: var(--color-tercary);
    color: black;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.web__bubble p {
    text-align: center;
    font-size: 0.8rem;
}

.web__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.web__title h3 {
    margin: 0.2rem 0;
}
.web__title p {
    font-size: 0.8rem;
    font-weight: 900;
    margin: 0.5rem;
}
.web__bubble ul {
    text-align: center;
    font-size: 0.75rem;
    width: 100%;
}
.web__bubble li {
    padding: 0 0.5rem;
    line-height: 2rem;
}
.web__divider__border {
    margin-bottom: 0.5rem;
    width: 40px;
    height: 3px;
    background: var(--color-primary);
}
.web__buble__lilight {
    background: var(--color-secondary-light);
}
/**/
.web__bubble__divided {
    display: flex;
    flex-direction: column;
justify-content: space-between;
}
.bubble__divided {
    background: var(--color-tercary);
    color: black;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.bubble__divided p {
    font-size: 0.8rem;
}
.bubble__divided ul {
    text-align: center;
    font-size: 0.75rem;
    width: 100%;
}
.bubble__divided li {
    padding: 0 0.5rem;
    line-height: 2rem;
}
.bubble__divided__small {
    background: var(--color-tercary);
    color: black;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

@media screen and (max-width:1161px) {
    .web__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 1rem;
    }
}

@media screen and (max-width:630px) {
    .web__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin: 1rem;
    }
    .bubble__divided {
        margin-bottom: 25px;
    }
}