.home__general {
    background: var(--color-primary);
    padding-top: 2rem;
    padding-bottom: 50px;
}
/*===================CAROUSEL===================*/

.carousel {
    position: relative;
    border-radius: var(--border-radius);
}
.carousel .carousel-slider {
    max-width: 1200px !important;
    margin: 0 auto !important;
}
.carousel .thumbs {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}
.carousel .thumb {
    margin: 0 5px;
    cursor: pointer;
    border: none !important;
}
.carousel .overlay {
    width: 80%;
    position: absolute;
    transform: translateY(-200%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
}
.home__general h1, h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.home__general p {
    text-align: center;
}
.home__contact {
    background: var(--color-secondary);
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    border-radius: var(--border-radius);

}

.cels__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
}

@media screen and (max-width:767px) {
    .carousel .slide img {
        width: 100vw !important;
        height: 40vh;
        object-fit: cover;
    }
}