#home {
    background: var(--color-primary);
}
.home__general {
    background: var(--color-primary);
    color: var(--color-text-light);
    padding-top: 2rem;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__text__center {
    max-width: 1000px;
    margin: 0 auto;
    font-size: large;
    text-align: center;
    font-size: 1rem;
}
.home__general h1, h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.under__title {
    width: 40px;
    height: 2px;
    background: var(--color-text-light);
    border: 2px solid var(--color-text-light);
    border-radius: var(--border-radius);
    margin-top: 10px;
    margin-bottom: 1rem;
}
.slogan {
    text-align: center;
}
/*===================CONTACT===================*/
.socialNetwork {
    margin-top: 1rem;
}
.socialNetwork a {
    padding: 1rem;
    font-size: 2rem;
    color: var(--color-secondary);
}
.socialNetwork a:hover {
    color: var(--color-tercary);
}
.home__contact {
    background: var(--color-secondary);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: var(--border-radius);
    position: absolute;
    bottom: -70px;
    left: 10%;
    min-height: 130px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact__cels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid var(--color-text-light);
    padding: 1rem;
}
.contact__cels:last-child {
    border-right: none;
}
.cels__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cels__icon {
    margin-right: 1rem;
    font-size: 40px;
}
.cels__content a {
    color: var(--color-text-light);
}
.cels__content a:hover {
    color: var(--color-primary);
}
.whatapp {
    color: #4FCA5D;
}
.mails {
    color: #106EBE;
}
/*===================CAROUSEL===================*/

.carousels {
    position: relative;
    border-radius: var(--border-radius);
    height: 300px;
}
.carousels .carousel-slider {
    margin: 0 auto !important;
    height: 300px;
}
.carousels .thumbs {
    display: none;
    justify-content: center;
    margin: 0;
    padding: 10px;
}
.carousels .thumb {
    margin: 0 5px;
    cursor: pointer;
    border: none !important;
}
.carousels .overlay {
    width: 80%;
    position: absolute;
    transform: translateY(-450%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}



@media screen and (max-width:1161px) {
    .bord {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:767px) {
    .home__general {
        padding-bottom: 250px;
    }
    .home__general h1 {
        text-align: center;
    }
    .home__contact {
        grid-template-columns: repeat(1, 1fr);
        bottom: -70px;
    }
    .contact__cels {
        border-right: none;
    }
    .carousels .slide img {
        width: 100vw !important;
        height: 40vh;
        object-fit: cover;
    }
    .carousels {
        display: none;
    }
    .slogan {
        padding: 1rem;
    }
    .home__text__center {
        padding: 1rem;
    }
}