nav {
    height: 50px;
    background: var(--color-primary);
}
.nav__list {
    list-style-type: none;
    background: var(--color-primary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: var(--color-text-light);
    cursor: pointer;
}
.btn {
    display: none;
}

@media screen and (max-width: 500px) {
    .nav__list {
        flex-direction: column;
        height: 348px;
    }
    .items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }
    .btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: var(--color-text-dark);
        cursor: pointer;
    }
}